

.global {
  width:100vw;
  color: black;
  background-color: #f5f5f5;
  margin: 0;
  display: "flex";
  flex-direction: "column";
}

.container {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-around;


  }

  .item {

    padding: 10px;
    border-radius: 10%;
    background-color: rgb(168, 118, 154);
  }

  img {
    margin: 0;
  }
